table th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 0px 10px 0px;
    text-align: center;


}
table {
    width: 100%;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
th {
    color: white;
    background-color: rgb(36, 114, 17);
}
tr {
    background-color: white;
    padding: 10px 0px 10px 0px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.badd {
    border-radius: 5px;
    background-color: #218637;
    color: whitesmoke;
    text-decoration: none;
    padding: 1%;
    transition: 0.5s;
    text-align: center;
    align-items: center;
}
.badd:hover {
    background-color: #21a052;
    color: black;
    text-align: center;
    padding: 1.5%;
}

.bfix {
    border-radius: 5px;
    background-color: #ffcc33;
    color: black;
    text-decoration: none;
    padding: 5%;
    transition: 0.5s;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.bfix:hover {
    background-color: #fdb515;
    color: white;
    text-align: center;
    text-decoration: none;
}
.bdelete {
    border-radius: 5px;
    background-color: #e60000;
    text-decoration: none;
    color: white;
    padding: 5%;
    transition: 0.5s;
    text-align: center;
    margin-left: 5%;
}
.bdelete:hover {
    background-color: #D9ddd4;
    color: red;
    text-align: center;
    text-decoration: none;
}


.bpdf {
    border-radius: 5px;
    background-color: #ac4949;
    text-decoration: none;
    color: white;
    padding: 5%;
    transition: 0.5s;
    text-align: center;
}
.bpdf:hover {
    background-color: #D9ddd4;
    color: #ac4949;;
    text-align: center;
    padding: 8%;
}
.Addlist {
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(36, 114, 17);
    transition: 0.5s;
}
.Addlist:hover {
    color: black;
    background-color: #BBFFBB;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}